<!doctype html>

<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Open Graph Meta Tags -->
	<meta property="og:title" content="玉山物業 | 保全員派駐 | 專業、細心、落實">
	<meta property="og:url" content="https://eastsun1996.com.tw">
	<meta property="og:type" content="website">

	{% seo %}
	{% feed_meta %}

	<link rel="stylesheet" href="{{ site.baseurl }}/css/screen.css">

	<link rel="apple-touch-icon" href="{{ site.baseurl }}/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="{{ site.baseurl }}/touch-icon.png" sizes="192x192">
	<link rel="icon" type="image/png" href="{{ site.baseurl }}/images/favicon.ico">

	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-2WLBSF45WC"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'G-2WLBSF45WC');
	</script>
</head>

<body>

	<header>
		<div class="container">
			<h1 class="company-name" style="display: flex; align-items: center;">
				<a href="{{ site.baseurl }}/"
					style="display: flex; align-items: center; text-decoration: none; color: inherit;">
					<img src="{{ site.baseurl }}/images/logo.jpg" alt="Urban" width="80px;">
					<span style="margin-left: 20px; font-size: 32px; font-weight: bold;">玉山物業</span>
				</a>
			</h1>
			{% include navigation.html %}
		</div>
	</header>
	{{ content }}

	<footer class="diagonal">
		<div class="container">
			<p class="editor-link"><a href="cloudcannon:collections/_data/footer.yml"
					class="btn"><strong>&#9998;</strong> Update Footer Sections</a></p>

			<div class="footer-columns">
				{% for column in site.data.footer %}
				<ul class="footer-links">
					<li>
						<h2>{{ column.title }}</h2>
					</li>
					{% for link in column.links %}
					{% endfor %}
				</ul>
				{% endfor %}

				<ul class="footer-links" style="color:beige;">
					<li>
						<h4 style="color:white;">{{ site.data.company.title }}</h4>
					</li>
					<li>{{ site.data.company.description }}</li>
					<li style="font-size:18px">連絡電話：(02) 2972-0099</li>
					<li style="font-size:18px">email：eastsun0099@gmail.com</li>
					<li style="font-size:18px">地址：241新北市三重區重新路三段130號</li>
				</ul>
			</div>
		</div>

		<div class="legal-line">
			<p class="container" style="color:rgb(199, 197, 197); font-size:16px;">
				&copy; {{ site.time | date: '%Y' }} {{ site.data.company.title }}
			</p>
		</div>
	</footer>


	<script>
		document.getElementById("open-nav").onclick = function () {
			document.body.classList.toggle("nav-open");
			return false;
		};
	</script>
</body>

</html>